 <!-- Awards-->
 <section class="resume-section" id="awards">
  <div class="resume-section-content">
      <h2 class="mb-5">Certificaciones</h2>
      <ul class="fa-ul mb-0">
          <li *ngFor="let certificacion of certificaciones">
              <span class="fa-li"><i class={{certificacion.imagenCerti}}></i></span>
              {{certificacion.descCerti}}-{{certificacion.fechaCerti}}
          </li>
          <!-- <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              Desarrollo de Apps Móviles - Google Actívate
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              Introduccion al desarrollo Web I - Google Actívate
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>

              Introduccion al desarrollo Web II - Google Actívate
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>

              Responsive Web Design - freeCodeCamp
          </li> -->

      </ul>
  </div>
</section>

<div>

