<!-- Experience-->
<section class="resume-section" id="experience">
  <div class="resume-section-content">
      <h2 class="mb-5">Experiencia</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5"*ngFor="let experiencia of experiencias">
          <div class="flex-grow-1">
              <h3 class="mb-0">{{experiencia.descExp}}</h3>
              <div class="subheading mb-3">{{experiencia.tituloExp}}</div>
              <p>{{experiencia.imagenExp}}</p>
       </div>   </div>

  </div>
</section>
<!-- </div> -->
<!-- </div> -->
<hr class="m-0" />
