 <!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <div> <img src="assets/img/APLogo-20-20.png" height="90" alt="Argentina Programa"> <p> <span> <strong> Argentina Programa  #YoProgramo</strong></span></p></div>
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <div class=""*ngIf="usuario"></div>
      <span class="d-block d-lg-none"></span>
      <span class="d-none d-lg-block"*ngIf="usuario"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{usuario.fotoPerfil}}" alt="Santiago Carreira" /></span>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="porfolio#about">Sobre mi</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="porfolio#experience">Experiencia</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="porfolio#education">Educacion</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="porfolio#skills">Habilidades</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="porfolio#interests">Intereses</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="porfolio#awards">Certificaciones</a></li>
      </ul>
  </div>

</nav>
