<!-- Education-->
<section class="resume-section" id="education">
  <div class="resume-section-content">
      <h2 class="mb-5">Educacion</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between"*ngFor="let education of educations">
          <div class="flex-grow-1">
              <h3 class="mb-0">{{education.institucionEdu}}</h3>
              <div class="subheading mb-3">{{education.tituloEdu}}</div>
              </div>
          <div class="flex-shrink-0"><span class="text-primary">{{education.fechaEduI}} - {{education.fechaEduF}}</span></div>
      </div>
      <!-- <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
              <h3 class="mb-0">Universidad de Buenos Aires</h3>
              <div class="subheading mb-3">Abogacía</div>
              </div>
          <div class="flex-shrink-0"><span class="text-primary">1989 - SIN FINALIZAR</span></div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
              <h3 class="mb-0">Inst. de Educación Superior N° 01 "Dra. Alicia Moreau de Justo"</h3>
              <div class="subheading mb-3">Profesorado en Lengua y Literatura</div>

          </div>
          <div class="flex-shrink-0"><span class="text-primary">2002 - SIN FINALIZAR</span></div>
      </div> -->
  </div>
</section>
<hr class="m-0" />
