<!-- Skills-->
<section class="resume-section" id="skills">
  <div class="resume-section-content">
      <h2 class="mb-5">Habilidades</h2>
      <div class="subheading mb-3">Lenguajes de Programacion y Herramientas</div>
      <ul class="list-inline dev-icons">
          <li class="list-inline-item"*ngFor="let habilidad of habilidades"><i class={{habilidad.fotoHabilidad}}></i> <div class="progress">
              <div class="progress-bar" role="progressbar" style="{{habilidad.nombreHabilidad}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div></li>
          
      </ul>
   </div>
</section>
<!-- </div> -->
<hr class="m-0" />
